sqlalchemy==2.0.29
aiosqlite==0.20.0
httpx==0.23.1
aiogram==3.4.1
geopy==2.4.1
timezonefinderL==4.0.2
polyline==2.0.2
dateparser==1.2.0
staticmap==0.5.7
pillow==10.2.0
mashumaro[orjson]==3.12
assemblyai==0.23.1
translate==3.6.1
